<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">
  <title id="title">Error</title>
</head>
<body>
<!--https://github.com/paulc4/mvc-exceptions-->
<h1>Error</h1>

<p th:if="${url}">
  <b>Page:</b> <span th:text="${url}">Page URL</span>
</p>

<p th:if="${url == null}">
  <b>URL:</b> <span th:text="${#httpServletRequest.requestURL}">RequestURL</span>
</p>

<p th:if="${timestamp}" id="created">
  <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
</p>

<p th:if="${status}">
  <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
    th:if="${error}" th:text="'('+${error}+')'">error ...</span>
</p>

<div th:if="${ex} or ${exception} or (${message} and ${message.length() != 0})">
  <b>Cause:</b> <span th:if="${ex}" th:text="${ex.message}">exception
			...</span> <span th:if="${exception}" th:text="${exception.message}">exception
			...</span> <span th:if="${message} and ${message.length() != 0}"
                       th:text="${message}">message ...</span>
  <blockquote>
    <i>Note: You would never generate a page that displays a Java
      exception to an end-user in a real application</i>
  </blockquote>
</div>

<footer th:replace="template :: footer"></footer>
</body>
</html>