<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: header">
  <title id="title">Person</title>
</head>
<body>
<form action="#" th:action="@{/people/person}" th:object="${personForm}" method="post">
  <div class="row">
    <div class="six columns">
      <label for="first-name">First Name</label>
      <input class="u-full-width" type="text" th:field="*{firstName}" id="first-name"/>
      <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Field Error</label>
    </div>
    <div class="six columns">
      <label for="last-name">Last Name</label>
      <input class="u-full-width" type="text" th:field="*{lastName}" id="last-name"/>
      <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Field Error</label>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label for="email-address">Email</label>
      <input class="u-full-width" type="text" th:field="*{emailAddress}" id="email-address"/>
      <label th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">Field Error</label>
    </div>
  </div>
  <input class="button-primary" type="submit" value="Save" />
</form>
<footer th:replace="template :: footer"></footer>
</body>
</html>